{% extends "base.html" %}

{% block title %}Shop Dashboard{% endblock %}

{% block content %}
  <h1>Shop Dashboard</h1>
  <p>Welcome to your dashboard.</p>
  <button type="button" class="btn btn-success btn-lg btn-block btn-loyal">Add Transaction</button>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-loyal">Sales / Income</button>
  <h1>Shop Settings</h1>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-loyal">Create Offers</button>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-loyal">Edit Store Info</button>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-loyal">Loyal Customers</button>



{% endblock %}