{% extends "base.html" %}

{% block title %}Customer Dashboard{% endblock %}

{% block content %}
  <h1>Customer ID</h1>

  <div class="container">
  <div class="jumbotron custidbox">
    <h1>{{ name }}</h1> 
    <p>This is your Customer ID. Whenever you are making a purchase from a partner store, use this ID to get your loyalty points.</p> 
  </div>
</div>
  <h1>Customer Dashboard</h1>
  <p>Welcome to your dashboard.</p>
  <button onclick="location.href='./rewards/'" type="button" class="btn btn-success btn-lg btn-block btn-loyal round">Rewards</button>
  <button onclick="location.href='./history/'" type="button" class="btn btn-primary btn-lg btn-block btn-loyal round">Transaction History</button>
  <button onclick="location.href='./deals/'" type="button" class="btn btn-primary btn-lg btn-block btn-loyal round">Active Deals</button>
{% endblock %}