{% extends "base.html" %}

{% block title %}Shop Dashboard{% endblock %}

{% block content %}
  <h1>Shop Dashboard</h1>
  <p>Welcome to your dashboard.</p>
  <button onclick="location.href='./transaction/'" type="button" class="btn btn-success btn-lg btn-block btn-loyal round">Add Transaction</button>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-loyal round">Sales / Income</button>
  <h1>Shop Settings</h1>
  <button onclick="location.href='./offer/'" type="button" class="btn btn-primary btn-lg btn-block btn-loyal round">Create Offers</button>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-loyal round">Edit Store Info</button>
  <button type="button" class="btn btn-primary btn-lg btn-block btn-loyal round">Loyalty Statistics</button>



{% endblock %}