{% extends "base.html" %}

{% block title %}Transaction{% endblock %}

{% block content %}
<div class="container container-table">
    <div class="row vertical-center-row">
         <div class="container">
  			<div class="jumbotron custidbox">
    			<h1>Create a Transaction</h1>
			<p>Please, use the following form to log a transaction:</p>
			<form action="." method="post">
				{{ form.as_p }}
				{% csrf_token %}
			<p><input type="submit" value="Confirm Transaction" class="btn btn-primary btn-lg btn-block btn-loyal round"></p>
			<button onclick="location.href='../'" type="button" class="btn btn-primary btn-lg btn-block btn-loyal round">Go Back</button>
			</form>
  			</div>
		</div>	

        </div>
    </div>
</div>
{% endblock %}